.catalog_item {
    justify-self: center;
    margin-bottom: 1rem;
}

.catalog_image {
    animation-duration: 0.5s;
    animation-name: slideLeft;
}

.catalog_image img:hover {
    transform: scale(1.05);
}

.catalog_item img {
    border-radius: 5px;
}

/* .catalog_item h3 {
    text-align: center;
    line-height: 0;
    color: white;
    font-weight: lighter;
    animation-duration: 0.5s;
    animation-name: slideLeft;
} */

.catalog_item a {
    color: white;
    list-style: none;
    text-decoration: none;
}

@keyframes slideLeft {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}