.group-card-div img {
    width: 100%;
    border-radius: 5px;
}

.group-card-div h3 {
    margin: 0 0.5rem 0 0.5rem;
    font-weight: normal;
    font-size: medium;
}

.group-card-div p {
    margin: 0 0.5rem 0.5rem 0.5rem;
    color: lightskyblue;
    font-size: small;
}