.container {
    position: relative;
}

.container img {
    width: 100%;
}

.text_container_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_container_bottom {
    position: absolute;
    bottom: 16px;
    right: 16px;
    text-align: right;
}

.header {
    margin: 0 0 0 0;
}

.subheader {
    margin: 0 0 0 0;
}