.item-b {
    grid-area: searchButton;
    cursor: pointer;
    background: #485a69;
    color: white;
    border: none;
    padding: 3px 7px;
    width: 100%;
    height: 100%;
    font-size: large;
    max-width: 500px;
    border-radius: 0.2rem;
    animation-duration: 0.7s;
    animation-name: slideLeft;
}

.item-b:hover {
    background-color: #008bfd;
}

.item-a {
    grid-area: searchInput;
    width: 100%;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: large;
    text-align: center;
    caret-color: #008bfd;
    max-width: 700px;
    border-radius: 0.2rem;
    animation-duration: 0.7s;
    animation-name: slideLeft;
}

.item-a:focus {
    outline: none;
}

.search {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "searchInput"
    "searchButton";
    margin: 3vh 0 0 0;
    justify-items: center;
}

@keyframes slideLeft {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}