.backButton {
    background:  #485a69;
    color: white;
    border: none;
    margin-top: 1rem;
    font-weight: bolder;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 3px;
}

.backButton:hover {
    background-color: #008bfd;
}