.backButton {
    background:  #485a69;
    color: white;
    border: none;
    margin: 1rem 1rem 0 1rem;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 3px;
}

.backButton:hover {
    background-color: #008bfd;
}