.uiList {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.uiList a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.uiList li {
    animation-duration: 0.3s;
    animation-name: slideLeft;
}

@keyframes slideLeft {
    from {
        margin-left: 100%;
        width: 500%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}