.uiList {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.uiList a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.uiList li {
    background: #242D33;
    border-radius: 5px;
    animation-duration: 0.3s;
    animation-name: slideLeft;
}

.uiList li:hover {
    background: #008bfd;
}

@keyframes slideLeft {
    from {
        margin-left: 100%;
        width: 500%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}